/* tag selectors */

nav {
    display:flex;
    border-style: solid;
    border: 1px solid goldenrod;
    list-style: none;
    padding: 1em;
}

nav a {
    padding: .1em 1em;
}

.disabled {
    color:  gray;
}

a .disabled {
    color: purple;
}

.active {
    color: yellow;
}

.parent {
    color: red;
}

.grandparent > h4 {
    border: .1px solid;
}